<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!--- code -->
    <script src="/js/common.js"></script>
</head>
<body>
    <div class="container">
        <form method="POST" th:action="@{/topics/}+${topic?.id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${topic?.title}">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <input type="textarea" class="form-control" id="content" name="content" th:value="${topic?.content}">
            </div>
            <div class="btn-group" role="group" aria-label="buttons">
                <a class="btn btn-secondary" href="/topics">취소</a>
                <button class="btn btn-secondary" onclick="submit()">확인</input>
            </div>
        </form>
    </div>
</body>
</html>