<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content</title>
    <script
            src="http://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/common.css" />
</head>
<body class="common-body">
        <table class="board-table">
            <tr>
                <th class="col1" th:text="${topic.id}">번호</th>
                <th class="col2" th:text="${topic.title}">제목</th>
                <th class="col3" th:text="${topic.account_id}">글쓴이</th>
                <th class="col4" th:text="${topic.created}">시간</th>
            </tr>
            <tr>
                <td colspan="4" class="content" th:text="${topic.content}">
                    요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 -- 요기가 내용이다 --
                </td>
            </tr>
        </table>
        <div class="button"><a th:href="@{'/topics/'} + ${topic.id} + @{'/post'}">수정하기</a></div>
        <div class="button"><a th:href="@{'/topics/'} + ${topic.id} + @{'/delete'}">삭제하기</a></div>
        <div class="button"><a href="/topics">목록</a></div>
</body>
</html>