<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content</title>
    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!--- code -->
    <script src="/js/common.js"></script>
</head>
<body class="common-body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th th:text="${topic.id}">id</th>
                    <th th:text="${topic.title}">title</th>
                    <th th:text="${topic.account_id}">account</th>
                    <th th:text="${topic.created}">created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" th:text="${topic.content}">
                        content
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button"><a th:href="@{'/topics/'} + ${topic.id} + @{'/put'}">수정하기</a></div>
        <div class="button"><a th:href="@{'/topics/'} + ${topic.id} + @{'/delete'}">삭제하기</a></div>
        <div class="button"><a href="/topics">목록</a></div>
</body>
</html>