<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!--- code -->
    <script src="/js/common.js"></script>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="col1">번호</th>
                    <th class="col2">제목</th>
                    <th class="col3">글쓴이</th>
                    <th class="col4">시간</th>
                    <th class="col5">조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="topic : ${topics}">
                    <td th:text="${topic.id}">1</td>
                    <td><a th:text="${topic.title}" th:href="@{/topics/}+${topic.id}">테스트 제목</a></td>
                    <td th:text="${topic.author_id}">글쓴이</td>
                    <td th:text="${topic.created}">now!</td>
                    <td th:text="${topic.view}">0</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li th:each="page : ${pages}" class="page-item"><a class="page-link" th:href="${page?.url}" th:text="${page?.label}"></a></li>
            </ul>
        </nav>
        <div class="btn-group" role="group" aria-label="buttons">
            <a class="btn btn-secondary" href="/topics/post">글쓰기</a>
        </div>
        <form action="/topics" method="GET">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">#</span>
                </div>
                <input type="text" class="form-control" name="keyword" aria-label="keyword" aria-describedby="basic-addon1">
                <div class="btn-group">
                    <input type="submit" class="btn btn-secondary" value="검색">
                </div>
            </div>
        </form>
    </div>
</body>
</html>